* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(159, 208, 236);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}.game-over {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: red;
    text-shadow: 3px 3px 10px black;
    animation: fadeIn 1s ease-in-out;
}

.game-over h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

.game-over p {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.game-over button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.game-over button:hover {
    background-color: red;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -60%); }
    to { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes pipe-animation {
    from {
        right: -80%;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    } 

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

